 		<footer class="fixed-bottom">
 			<div class="card">
 
  <div class="card-body">
    <h5 class="card-title">&copy; Samuel Mulkens 2018</h5>
    <p class="card-text">Have a question about the User Information App? Send me a message via [email]</p>
  </div>
</div>
 		</footer>

 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/bootstrap.js"></script>
 	</body
 
 </html>

