<% include partials/header %>

		<div class="search">

		<div class="move">
		<h3>Add a user</h3>
		</div>

		<form class="form-inline" action="/adduser" method="POST">
			<div class="form-group mx-sm-3 mb-2">
			<input class="form-control" type="text" name="firstname" placeholder="firstname">
			<input class="form-control" type="text" name="lastname" placeholder="lastname">
			<input class="form-control" type="text" name="email" placeholder="email">
			</div>
			<button type="submit" class="btn btn-secondary mb-2"> Add user </button>
		</form>
	</div>

<% include partials/footer %>
