<% include partials/header %>

	<div class="jumbotron">
  		<h1 class="display-4">User Information App</h1>
  		<p class="lead">This is a simple app that lets you view a JSON file of users. You can search through the list, and add users.</p>
		  <hr class="my-4">
  		<p>Made for a BSSA assignment.</p>
  		<p class="lead">
   			<a class="btn btn-lg" href="users" role="button">view users</a>
  		</p>
	</div>

<% include partials/footer%>
