<!DOCTYPE html>

<html>
	<head>
		<title>Home</title>
	</head>

	<body>
		<h3>User information app</h3>
		<div><a href='users'> Users </a></div>
		<div><a href='search'> Search </a></div>
		<div><a href='adduser'> Add user </a></div>
	</body>
</html>

