<!DOCTYPE html>

<html>
	<head>
		<title>Search results</title>
	</head>

	<body>
		<h3>Search results</h3>

		<% var searchreq = (searchuser.searchuser).toLowerCase() %>
		<% var userfound = false %>

		<% for(var i=0; i < users.length; i++) { %>
			<% if (searchreq === (users[i].firstname).toLowerCase() || searchreq === (users[i].lastname).toLowerCase()) { %>
				<li> The user you searched for is:
				  <ul><em>Name</em> <%= users[i].firstname %></ul>
				  <ul><em>Last name </em><%= users[i].lastname %></ul>
				  <ul><em>Email </em><%= users[i].email %></ul>
				</li>
				<%userfound = true%>
				<%}%>
		<% } %>

		<% if (!userfound) { %>
				Sorry, the user you searched for doesn't exist in our database.
			<% } %>
	</body>
</html>