<% include partials/header %>

<div class="search">

	<form class="form-inline" action="/search" method="POST">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" name="searchuser" class="form-control" id="inputPassword2" placeholder="Search for a user">
  </div>
  <button type="submit" class="btn btn-secondary mb-2">Search!</button>
</form>
</div>

<% include partials/footer %>