<% include partials/header %>
	
	<div class="userlist">
		<div class="userlisttitle">
		<h3>List of users</h3>
		</div>

			<% for(var i=0; i < users.length; i++) { %>
			   <li> <strong>User <%= i+1 %></strong>
			    	<ul><em>Name</em> <%= users[i].firstname %></ul>
			    	<ul><em>Last name </em><%= users[i].lastname %></ul>
			    	<ul><em>Email </em><%= users[i].email %></ul>
			   </li>
			<% } %> 
		</div>

<% include partials/footer %>